obj
./bin
./obj
./vs
./.idea
*.user
./.DS_Store
Game/Game/bin
Game/Game/obj
Game/vs
Game/.idea
Game/.DS_Store
.DS_Store
.idea/
BattleShip/.idea/
BattleShip/BattleShip.sln
BattleShip/BattleShip/BattleShip.csproj
BattleShip/BattleShip/bin/
Game/Game/.gitignore
Game/Game/.idea/
